:root {
    --main-color: rgb(255, 136, 0);
    --sec-color: rgb(123, 0, 255);
    --background: rgb(26, 26, 26);
    --background-color: rgba(50, 50, 50, .5);
    --sec-background-color: rgba(50, 50, 50, .3);
    --focused-color: rgba(250, 250, 250, .7);
    --in-focused-color: rgba(100, 100, 100, .5);
    --selected-color: rgba(200, 200, 200, 0.3);
    --clicked-color: rgba(0, 0, 0, .5);
    --main-text-color: rgb(255, 255, 255);
    --sec-text-color: rgba(255, 255, 255, 0.5);
    --tri-text-color: rgba(150, 150, 150, 0.5);
    --hover-text-color: rgba(255, 255, 255, 0.7);
    --active-text-color: rgba(150, 150, 150, 0.7);
    
    --xs: .6rem;
    --s: 1rem;
    --m: 1.6rem;
    --l: 2.5rem;
    --xl: 4rem;
    --xxl: 6.6rem;
    --xxxl: 10rem;
    
    --transparent: .7;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
	font-family: poppins;
    background-color: var(--background);
    font-weight: 400;
    font-size: var(--s);
}
.scroll-lock {
    overflow: hidden !important;
}
a {
    text-decoration: none;
}
p {
    font-size: var(--s);
    font-weight: 400;
    height: min-content;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: var(--xxxl);
}
h2 {
    font-size: var(--xxl);
}
h3 {
    font-size: var(--xl);
}
h4 {
    font-size: var(--l);
}
h5 {
    font-size: var(--m);
}
h6 {
    font-size: var(--s);
}
.spacer {
    flex-grow: 1;
}
*, *::before, *::after {
    box-sizing: border-box;
}
main {
    z-index: 100;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.main-switch-up {
    opacity: 0;
    filter: blur(10px);
    transform: translate(0, -30px);
}
.main-switch-down {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, 10px);
}
.main-blocks {
    display: none;
}
.background-gradient {
    position: fixed;
    filter: blur(120px);
    opacity: .7;
    z-index: 0;
    top: -40vh;
}
.background-gradient {
    background-color: var(--main-color);
    border-radius: 100%;
    position: fixed;
    /* transition: all 8s cubic-bezier(.2,0,0.8,1); */
}
#background-gradient-1 {
    background-color: var(--main-color);
}
#background-gradient-2 {
    background-color: var(--sec-color);
}
#background-gradient-3 {
    background-color: var(--main-color);
}
.background-gradient-position-1 {
    width: 50vw;
    height: 70vh;
    top: -1vh;
    left: 5vw;
}
.background-gradient-position-2 {
    width: 20vw;
    height: 70vh;
    top: 2vh;
    left: 25vw;
}
.background-gradient-position-3 {
    width: 50vw;
    height: 70vh;
    top: 0vh;
    left: 50vw;
}
.main-top {
    position: fixed;
    top: var(--xl);
    padding: 3px;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--background-color);
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    z-index: 2000;
    transition: scale .2s ease-in-out;
}
.main-top:active {
    scale: 0.98;
}
.main-top-button {
    width: 150px;
    height: 40px;
    margin: 3px;
    text-decoration: none;
    color: var(--sec-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s cubic-bezier(.5,.15,.2,2.5);
}
.main-top-button:hover {
    scale: 1.05;
}
.main-top-button:not(.main-top-button-selected):hover {
    color: var(--hover-text-color);
}
.main-top-button:not(.main-top-button-selected):active {
    scale: .95;
    color: var(--active-text-color);
}
.main-top-button-selected {
    color: var(--main-text-color);
    font-weight: 600;
}
.main-top-button-selector {
    background-color: var(--selected-color);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    position: fixed;
    left: 6px;
    z-index: -100;
    transition: all .3s cubic-bezier(.5,.15,.2,1.35);
}
.main-top-button-selector-wide {
    width: 160px;
    height: 30px;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 1400px;
}
.main-container-sections {
    display: flex;
    flex-direction: row;
    width: 1400px;
}
.main-container-top-section {
    padding-top: 220px;
}
.main-container-section {
    flex-grow: 1;
    display: flex;
}
.main-container-section-text {
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.welcome-text {
    font-weight: 700;
    font-size: var(--xxl);
    color: var(--main-text-color);
    line-height: 120px;
    z-index: 1000;
}
.welcome-text-color {
    color: var(--main-color);
}
.welcome-text-secondary {
    display: flex;
    flex-direction: column;
    margin-top: var(--xl);
}
.welcome-text-secondary-block {
    font-weight: 700;
    font-size: var(--l);
    color: var(--tri-text-color);
}
.main-container-section-profile {
    align-items: center;
    justify-content: end;
}
.profile-picture-box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}
.profile-picture-background {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    border-radius: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    z-index: 0;
}
.mail-text {
    font-weight: 700;
    font-size: var(--l);
    color: var(--tri-text-color);
    margin: 60px 0;
}
.mail-to-text {
    font-weight: 700;
    font-size: var(--l);
    color: var(--main-text-color);
    margin: 60px 10px;
    transition: all .15s ease-in-out;
}
.mail-to-text:hover {
    text-decoration: underline;
    cursor: pointer;
    scale: 1.02;
    transition: all .25s cubic-bezier(.5,.15,.2,2.5);
}
.contact-boxes {
    gap: 20px;
}
.contact-box {
    font-size: var(--s);
    font-weight: 500;
    color: var(--sec-text-color);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--background-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .15s ease-in-out;
}
.contact-box:hover {
    scale: 1.08;
    color: var(--main-text-color);
    transition: all .25s cubic-bezier(.5,.15,.2,2.5);
    cursor: pointer;
}
.main-welcome-text {
    color: var(--tri-text-color);
    width: 1000px;
    margin: 100px auto;
}
.sub-page-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 100;
}
.sub-page-button {
    width: 300px;
    font-size: var(--s);
    font-weight: 500;
    color: var(--sec-text-color);
    border-radius: 20px;
    padding: 15px 20px;
    transition: all .15s ease-in-out;
}
.sub-page-button:not(.sub-page-button-selected):hover {
    scale: 1.03;
    color: var(--main-text-color);
    transition: all .25s cubic-bezier(.5,.15,.2,2.5);
    cursor: pointer;
    background-color: var(--sec-background-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}
.sub-page-button-selected {
    font-weight: 700;
    color: var(--main-text-color);
    background-color: var(--selected-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}
.portfolio-text {
    color: var(--tri-text-color);
    margin: 16px 0 0 0;
}
.sub-page-content-section {
    width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    overflow: auto;
    z-index: 100;
    height: 100vh;
    padding: 200px 0 100px 0;
    transition: all 0.3s ease-in-out;
}
.sub-page-all-pages {
    display: none;
}
.sub-page-content-section::-webkit-scrollbar {
    display: none;
}
.portfolio-image-block {
    width: 400px;
}
.portfolio-image-block > img {
    width: 100%;
    border-radius: 20px;
}
.portfolio-image-block-description {
    margin: 10px 0 0 8px;
    color: var(--sec-text-color);
    font-size: var(--s);
}
.portfolio-link-block {
    width: 100%;
    display: flex;
    gap: 0 20px;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    background-color: var(--background-color);
    transition: all .15s ease-in-out;
    height: 120px;
}
.portfolio-link-block:hover {
    background-color: var(--selected-color);
    cursor: pointer;
}
.portfolio-link-image {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.portfolio-link-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.portfolio-link-title {
    font-size: var(--m);
    font-weight: 600;
    color: var(--main-text-color);
}
.portfolio-link-description {
    font-size: 12px;
    color: var(--sec-text-color);
}
.portfolio-link-arrow {
    width: 30px;
    height: 30px;
    opacity: .5;
}

@media (max-width: 1500px) {
    .main-container {
        width: 100vw;
        height: 100vh;
        padding: 0 50px;
    }
    .welcome-text {
        line-height: 80px;
        font-size: var(--xl);
    }
    .main-container-sections {
        width: 100%;
    }
    .main-welcome-text {
        width: 100%;
        margin: 60px auto;
    }
    .profile-picture-box {
        width: 400px;
        height: 400px;
    }
    .profile-picture-background {
        width: 400px;
        height: 400px;
    }
    .mail-text {
        margin: 0;
    }
    .mail-to-text {
        margin: 0;
    }
    .mail-box {
        margin: 50px 0;
        flex-direction: column;
    }
    .contact-boxes {
        flex-wrap: wrap;
    }
    .portfolio-image-block {
        width: 48%;
    }
    .portfolio-image-block > img {
        border-radius: 15px;
    }
}

@media (max-width: 1050px) {
    .portfolio-sections {
        gap: 40px;
    }
    .sub-page-button {
        width: fit-content;
        padding: 0;
    }
    .sub-page-button-selected {
        background-color: unset;
        box-shadow: none;
    }
    .sub-page-button:not(.sub-page-button-selected):hover {
        background-color: unset;
        box-shadow: none;
    }
    .portfolio-link-image {
        width: 50px;
        height: 50px;
    }
    .portfolio-link-title {
        font-size: var(--s);
    }
    .portfolio-link-block {
        padding: 0 15px;
        gap: 15px;
        margin-bottom: 10px;
        height: 80px;
    }
    .portfolio-link-arrow {
        width: 15px;
        height: 15px;
    }
    .portfolio-text {
        font-size: 14px;
    }
    .sub-page-content-section {
        row-gap: 30px;
    }
    .portfolio-image-block-description {
        margin: 5px 0 0 3px;
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .profile-picture-box {
        width: 300px;
        height: 300px;
    }
    .profile-picture-background {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    p {
        font-size: 13px;
    }
    h4 {
        font-size: 23px;
    }
    .main-container {
        padding: 0 25px;
    }
    .welcome-text {
        line-height: 50px;
        font-size: var(--l);
    }
    .main-container-sections:not(.portfolio-sections) {
        flex-direction: column;
    }
    .welcome-text-secondary {
        margin-top: var(--m);
    }
    .welcome-text-secondary-block {
        font-size: var(--m);
    }
    .main-container-section-profile {
        justify-content: center;
        margin-top: 40px;
    }
    .main-top {
        top: var(--l);
        padding: 3px;
    }
    .main-top:active {
        scale: 1;
    }
    .main-top-button {
        width: 110px;
        height: 40px;
        margin: 3px;
        font-size: 14px;
    }
    .main-top-button:hover {
        scale: 1;
    }
    .main-top-button:not(.main-top-button-selected):hover {
        color: none;
    }
    .main-top-button-selected {
        color: var(--main-text-color);
        font-weight: 600;
    }
    .main-top-button-selector {
        width: 110px;
    }
    .main-top-button-selector-wide {
        width: 120px;
    }
    .mail-text {
        font-size: 20px;
    }
    .mail-to-text {
        font-size: 20px;
    }
    .main-container-top-section {
        padding-top: 140px;
    }
    .contact-box:hover {
        scale: 1;
        color: var(--sec-text-color);
    }
    .mail-to-text:hover {
        text-decoration: none;
        scale: 1;
    }
    .contact-boxes {
        flex-direction: row !important;
    }
    .sub-page-button {
        font-size: 14px;
    }
    .portfolio-image-block {
        width: 100%;
    }
    .portfolio-image-block-description {
        margin: 3px 0 0 2px;
        font-size: 12px;
    }
    .sub-page-content-section {
        padding: 120px 0 50px 0;
    }
    .portfolio-link-description {
        display: none;
    }
}

@media (max-width: 550px) {
    .portfolio-link-title {
        font-size: 14px;
    }
    .portfolio-text {
        font-size: 12px;
    }
    .portfolio-sections {
        gap: 20px;
    }
    .sub-page-button {
        font-size: 12px;
    }
    .sub-page-content-section {
        row-gap: 20px;
    }
    .portfolio-link-block {
        gap: 10px;
        margin-bottom: 5px;
    }
}